<div>
  <div class='user-id'>
    Hello {{user.first_name || 'Anonymous' }}!
    <br>
    Coordinator ID: #{{coordinator.cid}}
  </div>
  <div class='menu'>
    <div class="menu-item">
      <a href="#!/site-info" ng-click="setSidebarButton(0)">
        <div>Site Info</div>
      </a>
    </div>
    <div class="menu-item">
      <a href="#!/survey" ng-click="setSidebarButton(0)">
        <div>Comfort Survey</div>
      </a>
    </div>
    <div class="menu-item">
      <button type="button" data-toggle="collapse" data-target="#addDataMenu" aria-expanded="false" aria-controls="addDataMenu">
        Add &amp; Edit Data
      </button>
    </div>
    <div class="collapse" ng-class="{show:isButton(1)}" id="addDataMenu">
      <div class="sub-menu-item menu-item">
        <a href="#!/edit-user-data" ng-click="setSidebarButton(1)">
          <div>Edit User Details</div>
        </a>
      </div>
      <div class="sub-menu-item menu-item" ng-show="user.coo_id">
        <a href="#!/edit-logg" ng-click="setSidebarButton(1)">
          <div>Edit Logger Locations</div>
        </a>
      </div>
      <div class="sub-menu-item menu-item">
        <a href="#!/add-bill" ng-click="setSidebarButton(1)">
          <div>Add Electricity Bill</div>
        </a>
      </div>
    </div>
    <div class="menu-item">
      <button type="button" data-toggle="collapse" data-target="#viewDataMenu" aria-expanded="false" aria-controls="viewDataMenu">
        View Data
      </button>
    </div>
    <div class="collapse" ng-class="{show:isButton(2)}" id="viewDataMenu">
      <div class="sub-menu-item menu-item">
        <a href="#!/instantaneous" ng-click="setSidebarButton(2)">
          <div>Instantaneous Data</div>
        </a>
      </div>
      <div class="sub-menu-item menu-item">
        <a href="#!/cumulative" ng-click="setSidebarButton(2)">
          <div>Cumulative Data</div>
        </a>
      </div>
      <div class="sub-menu-item menu-item">
        <a href="#!/edata" ng-click="setSidebarButton(2)">
          <div>Energy Consumption History</div>
        </a>
      </div>
      <div class="sub-menu-item menu-item">
        <a href="#!/plan" ng-click="setSidebarButton(2)">
          <div>Logger Location Plan</div>
        </a>
      </div>
    </div>
    <div class="menu-item" ng-show="user.coo_id">
      <a href="#!/data-acqn" ng-click="setSidebarButton(0)">
        <div>Data Acquisition</div>
      </a>
    </div>
    <div class="menu-item" ng-show="user.coo_id">
      <a href="#!/data-expt" ng-click="setSidebarButton(0)">
        <div>Data Export</div>
      </a>
    </div>
    <div class="menu-item" ng-show="user.coo_id">
      <a href="#!/data-read" ng-click="setSidebarButton(0)">
        <div>Data Reading</div>
      </a>
    </div>
  </div>
</div>