/** Variables. **/

// Colors
$red: #fa4045;                  // Red
$tred: rgba(250, 64, 69, 0.1);  //Transparent Red
$wht: #ffffff;                  // White
$blk: #5c5c5c;                  // Black
$lgry: #e4e4e4;                 // Light Grey
$gry: #d2d2d2;                  // Grey
$dgry: #b3b3b3;                 // Dark Grey

// Screen sizes
$mid: 560px;


/** Styling starts here. **/

// Body
body {
  background-color: $wht;
  color: $blk;
  font-family: 'Ubuntu', sans-serif;
}

// Full height divs
.full-height {
  height: 100vh;
}

// Login & registration blocks
.lr-block {
  // Centered div & text
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  // Red
  background-color: $red;
  // Padding
  padding: 50px;  
  @media(max-width: $mid){
    padding: 35px;
  }
  // Text
  text-align: center;
  .title {
    display: block;
    width: auto;
    padding: 10px 20px 0px 20px;
    color: $wht;
    font-size: 50px;
    line-height: 54px;
    @media(max-width: $mid){
      font-size: 40px;
      line-height: 42px;
    }
    cursor: default;
  }
  .sub-title {
    display: inline-block;
    width: auto;
    padding: 0px 20px 10px 20px;
    border-bottom: solid 4px $wht;
    color: $wht;
    font-size: 16px;    
    @media(max-width: $mid){
      font-size: 14px;
      padding-bottom: 5px;
    }
    cursor: default;
  }
  // Forms
  form {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 300px;    
    @media(max-width: $mid){
      margin-top: 20px;
    }
    .form-link {
      color: $lgry;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 0.5rem;
      a {
        text-decoration: none;
        color: $lgry;
        &:hover {
          border-bottom: solid 2px $wht;
          text-decoration: none;
          color: $wht;
        }
      }
    } 
    .form-button {
      margin-bottom: 0.75rem;
      .btn {
        width: 150px;
        background-color: $lgry;
        color: $blk;
        border-color: rgba(0, 0, 0, 0.15);
        font-weight: 700;
        &:hover {
          background-color: $wht;
          color: $red;
          border-color: $red;
        }
      }
      .btn.disabled, .btn:disabled {
        opacity: .65;
        &:hover {
          background-color: $lgry;
          color: $blk;
          border-color: rgba(0, 0, 0, 0.15);
        }
      }
    }
    .form-check {
      margin-bottom: 1rem;
      text-align: left;
      padding: 0 0.5rem;
      .form-check-input {
        margin-top: 0.45rem;
        margin-left: 0;
      }
      label {
        color: $wht;
        text-align: left;
      }
    }
    textarea {
      resize: none;
    }
    small {
      color: $lgry;
      font-size: 12px;
    }
  }
}

// Coordinators page
.cpage {
  background-color: $red;
  height: 100%;
  width: 100%;
  
  .page-title {
    color: $wht;
    padding-top: 4rem;
    padding-bottom: 1rem;
    .btn {
      width: auto;
      background-color: $lgry;
      color: $blk;
      border-color: rgba(0, 0, 0, 0.15);
      font-weight: 700;
      &:hover {
        background-color: $wht;
        color: $red;
        border-color: $red;
      }
    }
    .btn.disabled, .btn:disabled {
      opacity: .65;
      &:hover {
        background-color: $lgry;
        color: $blk;
        border-color: rgba(0, 0, 0, 0.15);
      }
    }
  }
  
  .filter-form-wrapper {
    background-color: $wht;
    padding: 20px 20px 1px 20px;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  .ctable-wrapper {
    background-color: $wht;
    padding: 20px;
    border-radius: 5px;
    
    .table-title {
      color: $red;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    
    p.table-title {
      font-size: 12px;
    }
    
    .ctable {
      font-size: 12px;
      min-width: 510px;
      color: $blk;
      thead {
        cursor: default;
      }
      &.table-hover tbody tr:hover {
        background-color: $tred;
        cursor: default;
      }
      tbody {
        tr {
          a {
            color: $blk; 
            &:hover {
              color: $red;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
  
  #ec-form {
    padding: 20px;
    
    .form-button {
      text-align: right;
      
      .btn {
        width: 120px;
        background-color: $lgry;
        color: $blk;
        border-color: rgba(0, 0, 0, 0.15);
        font-weight: 700;
        &:hover {
          background-color: $red;
          color: $wht;
          border-color: $red;
        }
      }
      .btn.disabled, .btn:disabled {
        opacity: .65;
        &:hover {
          background-color: $lgry;
          color: $blk;
          border-color: rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
}

// Top bar
.tbar {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 60px;
  background-color: $red;
  color: $wht;
  text-align: center;
  
  a {
    color: $wht;
    text-decoration: none;
    &:hover {
      color: $lgry;
      text-decoration: none;
    }
  }
  
  .menu-button {
    width: 36px;
    height: 36px;
    position: fixed;
    top: 12px;
    left: 12px;
    border: solid 2px transparent;
    z-index: 11;
    
    @media(min-width:721px){
      display: none;
    }    
    
    .bar {
      height: 4px;
      width: 24px;
      margin: 5px auto;
      background-color: $wht;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }    
    &.cross {
      .bar {
        &:nth-of-type(1) {
          -webkit-transform: translate(0px, 8.5px) rotate(45deg);
              -ms-transform: translate(0px, 8.5px) rotate(45deg);
                  transform: translate(0px, 8.5px) rotate(45deg);
        }
        &:nth-of-type(2) {
          display: none;
        }
        &:nth-of-type(3) {
          -webkit-transform: translate(0px, -0.5px) rotate(-45deg);
              -ms-transform: translate(0px, -0.5px) rotate(-45deg);
                  transform: translate(0px, -0.5px) rotate(-45deg);
        }
      }
    }
  }  
  .page-title {
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    
    @media(max-width: 400px) {
      font-size: 18px;
    }
  }
}

// Sidebar & Content
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  
  sidebar {
    overflow: hidden;
    width: 250px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    background-color: $gry;
    height: 100vh;
    padding-top: 60px;
    z-index: 9;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    
    @media(max-width:720px){
      margin-left: -250px;
    }
    
    &.showsb {
      margin-left: 0px;
      width: 100%;
    }
    
    .user-id {
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      padding: 10px;
      border-bottom: solid 1px $wht;
    }
    
    .menu {
      padding: 0;
      font-size: 16px;
      
      .menu-item {
        border-bottom: solid 1px $wht;
        
        &:hover {
          background-color: $red;
        }
        
        a {
          color: $blk;
          text-decoration: none;
          &:hover {
            color: $wht;
            text-decoration: none;
          }
          
          div {
            padding: 10px 15px;
          }
        }
        
        button {
          padding: 10px 15px;
          border-width: 0px;
          width: 100%;
          background-color: transparent;
          color: $blk;
          text-align: left;
          
          &:hover {
            color: $wht;
            cursor: pointer;
          }
        }
      }
      
      .sub-menu-item {
        background-color: $dgry;
      }
    }
  }
  .main {
    height: 100vh;
    padding: 20px;
    padding-top: 75px;
    min-height: 100vh;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .cbox {
    padding: 10px;

    .title {
      text-align: center;
      margin: 5px auto;
      height: auto;
      font-weight: 700;
    }
  }
}

// Site Info
.sinfo {
  .site-details {
    max-width: 400px;
    margin: 5px auto;
    padding: 10px 5px;
    border-bottom: solid 2px $red;
    .site-detail {
      padding: 5px 10px;
      .sd-title {
        color: $red;
        max-width: 150px;
        min-width: 140px;
        display: inline-block;
      }
      .sd-content {
        min-width: 200px;
      }
    }
  }
}

// Survey, old slider.
.vote {
  height: calc(100% - 60px);
  .slider {
    height: calc(100% - 90px);
    padding: 20px;
    margin: 20px auto;
    text-align: center;
  }
  
  //Slider
  .comfort-slider.rzslider .rz-bar {
    margin-left: -22px;
    background: $gry;
    /*OLD COLORS
    background: 
      -webkit-gradient(linear, left bottom, left top, from(#0002a1), color-stop(#0120d8, #0374ff, #00ffff, #3aff03, #ffff00, #ff8800, #d61010), to(#7c0616));      
      background: -webkit-linear-gradient(bottom, #0002a1, #0120d8, #0374ff, #00ffff, #3aff03, #ffff00, #ff8800, #d61010, #7c0616);
      background: -o-linear-gradient(bottom, #0002a1, #0120d8, #0374ff, #00ffff, #3aff03, #ffff00, #ff8800, #d61010, #7c0616);
      background: -webkit-gradient(linear, left bottom, left top, from(#0002a1), color-stop(#0120d8), color-stop(#0374ff), color-stop(#00ffff), color-stop(#3aff03), color-stop(#ffff00), color-stop(#ff8800), color-stop(#d61010), to(#7c0616));
      background: linear-gradient(to top, #0002a1, #0120d8, #0374ff, #00ffff, #3aff03, #ffff00, #ff8800, #d61010, #7c0616);
      */
    background: -webkit-gradient(linear, left bottom, left top, from(#494ad1), color-stop(#6074ea), color-stop(#7fb8ff), color-stop(#9cfcfc), color-stop(#b3f7a0), color-stop(#ffffa8), color-stop(#ffb663), color-stop(#ff6d6d), to(#e2485c));background: -webkit-linear-gradient(bottom, #494ad1, #6074ea, #7fb8ff, #9cfcfc, #b3f7a0, #ffffa8, #ffb663, #ff6d6d, #e2485c);background: -o-linear-gradient(bottom, #494ad1, #6074ea, #7fb8ff, #9cfcfc, #b3f7a0, #ffffa8, #ffb663, #ff6d6d, #e2485c);background: linear-gradient(to top, #494ad1, #6074ea, #7fb8ff, #9cfcfc, #b3f7a0, #ffffa8, #ffb663, #ff6d6d, #e2485c);
    height: 100%;
    width: 30px;
  }
  .comfort-slider.rzslider .rz-pointer {
    width: 42px;
    height: 10px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: $blk;
    margin-left: -6px;
  }
  .comfort-slider.rzslider .rz-pointer:after {
    display: none;
  }
  .comfort-slider.rzslider .rz-bubble {
    bottom: 0px;
    margin-left: 10px;
  }
  .comfort-slider.rzslider .rz-tick {
    width: 10px;
    height: 2px;
    margin-left: -35px;
    border-radius: 30px;
    background: $blk;
    top: -7px;
  }
  .comfort-slider.rzslider .rz-limit {
    display: none;
  }
  .comfort-slider.rzslider .rz-tick-legend {
    margin-left: -25px;
    bottom: -15px;
  }
  
  .vote-button {
    display: block;
    width: 200px;
    background-color: $red;
    border-width: 0;
    color: $wht;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    margin: 0px auto;
    margin-top: 30px;
    &:hover {
      cursor: pointer;
      background-color: $tred;
      color: $red;
    }
  }
}

// Edit User Data
.einfo {
  .info-form {
    font-size: 14px;
    max-width: 500px;
    margin: 0px auto;
    padding: 10px;
    small {
      color: $red;
      font-size: 12px;
    }
  }
  .info-button{
    width: 200px;
    background-color: $red;
    border-width: 0;
    color: $wht;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    margin: 0px auto;
    margin-top: 30px;
    &:hover {
      cursor: pointer;
      background-color: $tred;
      color: $red;
    }
  }
}

// Add Electricity Bill
.ebill {
  .bill-form {
    font-size: 14px;
    max-width: 400px;
    margin: 0px auto;
    padding: 0px 10px;    
  }
  .bill-button{
    width: 200px;
    background-color: $red;
    border-width: 0;
    color: $wht;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    margin: 0px auto;
    margin-top: 30px;
    &:hover {
      cursor: pointer;
      background-color: $tred;
      color: $red;
    }
  }
}