/** Variables. **/
/** Styling starts here. **/
body {
  background-color: #ffffff;
  color: #5c5c5c;
  font-family: 'Ubuntu', sans-serif; }

.full-height {
  height: 100vh; }

.lr-block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fa4045;
  padding: 50px;
  text-align: center; }
  @media (max-width: 560px) {
    .lr-block {
      padding: 35px; } }
  .lr-block .title {
    display: block;
    width: auto;
    padding: 10px 20px 0px 20px;
    color: #ffffff;
    font-size: 50px;
    line-height: 54px;
    cursor: default; }
    @media (max-width: 560px) {
      .lr-block .title {
        font-size: 40px;
        line-height: 42px; } }
  .lr-block .sub-title {
    display: inline-block;
    width: auto;
    padding: 0px 20px 10px 20px;
    border-bottom: solid 4px #ffffff;
    color: #ffffff;
    font-size: 16px;
    cursor: default; }
    @media (max-width: 560px) {
      .lr-block .sub-title {
        font-size: 14px;
        padding-bottom: 5px; } }
  .lr-block form {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 300px; }
    @media (max-width: 560px) {
      .lr-block form {
        margin-top: 20px; } }
    .lr-block form .form-link {
      color: #e4e4e4;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 0.5rem; }
      .lr-block form .form-link a {
        text-decoration: none;
        color: #e4e4e4; }
        .lr-block form .form-link a:hover {
          border-bottom: solid 2px #ffffff;
          text-decoration: none;
          color: #ffffff; }
    .lr-block form .form-button {
      margin-bottom: 0.75rem; }
      .lr-block form .form-button .btn {
        width: 150px;
        background-color: #e4e4e4;
        color: #5c5c5c;
        border-color: rgba(0, 0, 0, 0.15);
        font-weight: 700; }
        .lr-block form .form-button .btn:hover {
          background-color: #ffffff;
          color: #fa4045;
          border-color: #fa4045; }
      .lr-block form .form-button .btn.disabled, .lr-block form .form-button .btn:disabled {
        opacity: .65; }
        .lr-block form .form-button .btn.disabled:hover, .lr-block form .form-button .btn:disabled:hover {
          background-color: #e4e4e4;
          color: #5c5c5c;
          border-color: rgba(0, 0, 0, 0.15); }
    .lr-block form .form-check {
      margin-bottom: 1rem;
      text-align: left;
      padding: 0 0.5rem; }
      .lr-block form .form-check .form-check-input {
        margin-top: 0.45rem;
        margin-left: 0; }
      .lr-block form .form-check label {
        color: #ffffff;
        text-align: left; }
    .lr-block form textarea {
      resize: none; }
    .lr-block form small {
      color: #e4e4e4;
      font-size: 12px; }

.cpage {
  background-color: #fa4045;
  height: 100%;
  width: 100%; }
  .cpage .page-title {
    color: #ffffff;
    padding-top: 4rem;
    padding-bottom: 1rem; }
    .cpage .page-title .btn {
      width: auto;
      background-color: #e4e4e4;
      color: #5c5c5c;
      border-color: rgba(0, 0, 0, 0.15);
      font-weight: 700; }
      .cpage .page-title .btn:hover {
        background-color: #ffffff;
        color: #fa4045;
        border-color: #fa4045; }
    .cpage .page-title .btn.disabled, .cpage .page-title .btn:disabled {
      opacity: .65; }
      .cpage .page-title .btn.disabled:hover, .cpage .page-title .btn:disabled:hover {
        background-color: #e4e4e4;
        color: #5c5c5c;
        border-color: rgba(0, 0, 0, 0.15); }
  .cpage .filter-form-wrapper {
    background-color: #ffffff;
    padding: 20px 20px 1px 20px;
    border-radius: 5px;
    margin-bottom: 1rem; }
    .cpage .filter-form-wrapper input {
      margin: 6px 0; }
  .cpage .ctable-wrapper {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px; }
    .cpage .ctable-wrapper .table-title {
      color: #fa4045;
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .cpage .ctable-wrapper p.table-title {
      font-size: 12px; }
    .cpage .ctable-wrapper .ctable {
      font-size: 12px;
      min-width: 510px;
      color: #5c5c5c; }
      .cpage .ctable-wrapper .ctable thead {
        cursor: default; }
      .cpage .ctable-wrapper .ctable.table-hover tbody tr:hover {
        background-color: rgba(250, 64, 69, 0.1);
        cursor: default; }
      .cpage .ctable-wrapper .ctable tbody tr a {
        color: #5c5c5c; }
        .cpage .ctable-wrapper .ctable tbody tr a:hover {
          color: #fa4045;
          font-weight: 700; }
  .cpage #ec-form {
    padding: 20px; }
    .cpage #ec-form .form-button {
      text-align: right; }
      .cpage #ec-form .form-button .btn {
        width: 120px;
        background-color: #e4e4e4;
        color: #5c5c5c;
        border-color: rgba(0, 0, 0, 0.15);
        font-weight: 700; }
        .cpage #ec-form .form-button .btn:hover {
          background-color: #fa4045;
          color: #ffffff;
          border-color: #fa4045; }
      .cpage #ec-form .form-button .btn.disabled, .cpage #ec-form .form-button .btn:disabled {
        opacity: .65; }
        .cpage #ec-form .form-button .btn.disabled:hover, .cpage #ec-form .form-button .btn:disabled:hover {
          background-color: #e4e4e4;
          color: #5c5c5c;
          border-color: rgba(0, 0, 0, 0.15); }

.tbar {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 60px;
  background-color: #fa4045;
  color: #ffffff;
  text-align: center; }
  .tbar a {
    color: #ffffff;
    text-decoration: none; }
    .tbar a:hover {
      color: #e4e4e4;
      text-decoration: none; }
  .tbar .menu-button {
    width: 36px;
    height: 36px;
    position: fixed;
    top: 12px;
    left: 12px;
    border: solid 2px transparent;
    z-index: 11; }
    @media (min-width: 721px) {
      .tbar .menu-button {
        display: none; } }
    .tbar .menu-button .bar {
      height: 4px;
      width: 24px;
      margin: 5px auto;
      background-color: #ffffff;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .tbar .menu-button.cross .bar:nth-of-type(1) {
      -webkit-transform: translate(0px, 8.5px) rotate(45deg);
      -ms-transform: translate(0px, 8.5px) rotate(45deg);
      transform: translate(0px, 8.5px) rotate(45deg); }
    .tbar .menu-button.cross .bar:nth-of-type(2) {
      display: none; }
    .tbar .menu-button.cross .bar:nth-of-type(3) {
      -webkit-transform: translate(0px, -0.5px) rotate(-45deg);
      -ms-transform: translate(0px, -0.5px) rotate(-45deg);
      transform: translate(0px, -0.5px) rotate(-45deg); }
  .tbar .page-title {
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 24px;
    line-height: 60px; }
    @media (max-width: 400px) {
      .tbar .page-title {
        font-size: 18px; } }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .wrapper sidebar {
    overflow: hidden;
    width: 250px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: #d2d2d2;
    height: 100vh;
    padding-top: 60px;
    z-index: 9;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
    @media (max-width: 720px) {
      .wrapper sidebar {
        margin-left: -250px; } }
    .wrapper sidebar.showsb {
      margin-left: 0px;
      width: 100%; }
    .wrapper sidebar .user-id {
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      padding: 10px;
      border-bottom: solid 1px #ffffff; }
    .wrapper sidebar .menu {
      padding: 0;
      font-size: 16px; }
      .wrapper sidebar .menu .menu-item {
        border-bottom: solid 1px #ffffff; }
        .wrapper sidebar .menu .menu-item:hover {
          background-color: #fa4045; }
        .wrapper sidebar .menu .menu-item a {
          color: #5c5c5c;
          text-decoration: none; }
          .wrapper sidebar .menu .menu-item a:hover {
            color: #ffffff;
            text-decoration: none; }
          .wrapper sidebar .menu .menu-item a div {
            padding: 10px 15px; }
        .wrapper sidebar .menu .menu-item button {
          padding: 10px 15px;
          border-width: 0px;
          width: 100%;
          background-color: transparent;
          color: #5c5c5c;
          text-align: left; }
          .wrapper sidebar .menu .menu-item button:hover {
            color: #ffffff;
            cursor: pointer; }
      .wrapper sidebar .menu .sub-menu-item {
        background-color: #b3b3b3; }
  .wrapper .main {
    height: 100vh;
    padding: 20px;
    padding-top: 75px;
    min-height: 100vh;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .wrapper .cbox {
    padding: 10px; }
    .wrapper .cbox .title {
      text-align: center;
      margin: 5px auto;
      height: auto;
      font-weight: 700; }

.sinfo .site-details {
  max-width: 400px;
  margin: 5px auto;
  padding: 10px 5px;
  border-bottom: solid 2px #fa4045; }
  .sinfo .site-details .site-detail {
    padding: 5px 10px; }
    .sinfo .site-details .site-detail .sd-title {
      color: #fa4045;
      max-width: 150px;
      min-width: 140px;
      display: inline-block; }
    .sinfo .site-details .site-detail .sd-content {
      min-width: 200px; }

.vote {
  height: calc(100% - 60px);
  max-height: 640px; }
  .vote .slider {
    height: calc(100% - 90px);
    padding: 20px;
    margin: 20px auto;
    text-align: center; }
  .vote .comfort-slider.rzslider {
    margin-left: 150px; }
    @media (max-width: 768px) {
      .vote .comfort-slider.rzslider {
        font-size: 0.9rem; } }
  .vote .comfort-slider.rzslider .rz-bar {
    margin-left: -22px;
    background: #d2d2d2;
    /*OLD COLORS
    background: 
      -webkit-gradient(linear, left bottom, left top, from(#0002a1), color-stop(#0120d8, #0374ff, #00ffff, #3aff03, #ffff00, #ff8800, #d61010), to(#7c0616));      
      background: -webkit-linear-gradient(bottom, #0002a1, #0120d8, #0374ff, #00ffff, #3aff03, #ffff00, #ff8800, #d61010, #7c0616);
      background: -o-linear-gradient(bottom, #0002a1, #0120d8, #0374ff, #00ffff, #3aff03, #ffff00, #ff8800, #d61010, #7c0616);
      background: -webkit-gradient(linear, left bottom, left top, from(#0002a1), color-stop(#0120d8), color-stop(#0374ff), color-stop(#00ffff), color-stop(#3aff03), color-stop(#ffff00), color-stop(#ff8800), color-stop(#d61010), to(#7c0616));
      background: linear-gradient(to top, #0002a1, #0120d8, #0374ff, #00ffff, #3aff03, #ffff00, #ff8800, #d61010, #7c0616);
      */
    background: -webkit-gradient(linear, left bottom, left top, from(#494ad1), color-stop(#6074ea), color-stop(#7fb8ff), color-stop(#9cfcfc), color-stop(#b3f7a0), color-stop(#ffffa8), color-stop(#ffb663), color-stop(#ff6d6d), to(#e2485c));
    background: -webkit-linear-gradient(bottom, #494ad1, #6074ea, #7fb8ff, #9cfcfc, #b3f7a0, #ffffa8, #ffb663, #ff6d6d, #e2485c);
    background: -o-linear-gradient(bottom, #494ad1, #6074ea, #7fb8ff, #9cfcfc, #b3f7a0, #ffffa8, #ffb663, #ff6d6d, #e2485c);
    background: linear-gradient(to top, #494ad1, #6074ea, #7fb8ff, #9cfcfc, #b3f7a0, #ffffa8, #ffb663, #ff6d6d, #e2485c);
    height: 100%;
    width: 30px; }
  .vote .comfort-slider.rzslider .rz-pointer {
    width: 42px;
    height: 10px;
    top: auto;
    /* to remove the default positioning */
    bottom: 0;
    background-color: #5c5c5c;
    margin-left: -6px; }
  .vote .comfort-slider.rzslider .rz-pointer:after {
    display: none; }
  .vote .comfort-slider.rzslider .rz-bubble {
    bottom: 0px;
    margin-left: 10px; }
  .vote .comfort-slider.rzslider .rz-tick {
    width: 10px;
    height: 2px;
    margin-left: -35px;
    border-radius: 30px;
    background: #5c5c5c;
    top: -7px; }
  .vote .comfort-slider.rzslider .rz-limit {
    display: none; }
  .vote .comfort-slider.rzslider .rz-tick-legend {
    margin-left: -25px;
    bottom: -15px; }
  .vote .vote-button {
    display: block;
    width: 200px;
    background-color: #fa4045;
    border-width: 0;
    color: #ffffff;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    margin: 0px auto;
    margin-top: 30px; }
    .vote .vote-button:hover {
      cursor: pointer;
      background-color: rgba(250, 64, 69, 0.1);
      color: #fa4045; }

.einfo .info-form {
  font-size: 14px;
  max-width: 500px;
  margin: 0px auto;
  padding: 10px; }
  .einfo .info-form small {
    color: #fa4045;
    font-size: 12px; }
.einfo .info-button {
  width: 200px;
  background-color: #fa4045;
  border-width: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  margin: 0px auto;
  margin-top: 30px; }
  .einfo .info-button:hover {
    cursor: pointer;
    background-color: rgba(250, 64, 69, 0.1);
    color: #fa4045; }

.logloc .logger-form {
  font-size: 14px;
  max-width: 600px;
  margin: 0px auto;
  margin-top: 20px;
  padding: 10px; }
  .logloc .logger-form small {
    color: #fa4045;
    font-size: 12px; }
.logloc .log-button {
  width: 150px;
  background-color: #fa4045;
  border-width: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  margin: 0px auto;
  margin-top: 10px; }
  .logloc .log-button:hover {
    cursor: pointer;
    background-color: rgba(250, 64, 69, 0.1);
    color: #fa4045; }

.ebill .bill-form {
  font-size: 14px;
  max-width: 400px;
  margin: 0px auto;
  padding: 0px 10px; }
.ebill .bill-button {
  width: 200px;
  background-color: #fa4045;
  border-width: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  margin: 0px auto;
  margin-top: 30px; }
  .ebill .bill-button:hover {
    cursor: pointer;
    background-color: rgba(250, 64, 69, 0.1);
    color: #fa4045; }

.cdata .buttons-wrapper {
  margin-top: 20px;
  text-align: center; }
  .cdata .buttons-wrapper .loading {
    margin: 10px auto; }
  .cdata .buttons-wrapper form {
    max-width: 390px;
    margin: 0 auto; }
  .cdata .buttons-wrapper .form-group {
    margin: 10px 10px; }
    .cdata .buttons-wrapper .form-group #parameter {
      width: 200px; }
    .cdata .buttons-wrapper .form-group .getPara {
      width: 150px;
      background-color: #fa4045;
      border-width: 0;
      color: #ffffff;
      font-size: 18px;
      text-align: center;
      margin: 0px auto; }
      .cdata .buttons-wrapper .form-group .getPara:hover {
        cursor: pointer;
        background-color: rgba(250, 64, 69, 0.1);
        color: #fa4045; }
      .cdata .buttons-wrapper .form-group .getPara[disabled] {
        background-color: #b3b3b3;
        color: #ffffff; }
.cdata .map-wrapper {
  margin-top: 20px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
